body {
    margin: 0px;
    padding: 0px;
    border-style: border-box;
}

.uk-container {
    width: 100vw;
    height: 120px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#uk-navbar-container {
    width: 745.34px;
    height: 38.31;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#uk-navbar {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu-container {
    font-weight: 700;
    font-size: 18px;
    line-height: 10.26px;
    text-align: center;

}

#uk-navbar-nav {
    width: 270.52px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hide {
    display: none;
    width: 420px;
    height: 240px;
    top: 120px;
    background-color: white;
    position: absolute;
    border-radius: 10px;
}

.main-menu-container:hover+.hide {
    display: block;
    color: black;
}

.header-top-logo {
    width: 119px;
    height: 38.91px;
    color: red;
}

.header-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

#main-menu {
    width: 556.34px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-menu-list {
    display: flex;
    flex-direction: row;
}

.list-name-staff {
    font-weight: 700;
    font-size: 14px;
    line-height: 12.2px;
    padding-bottom: 25px;
}

.text-medium {
    font-weight: 500px;
    font-size: 18px;
}

.text-low {
    font-weight: 300px;
    text-transform: none;
    font-size: 12px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.text-green {
    color: green;
}

.margin-right-5 {
    margin-right: 5px
}

/* footer-section */
#gogo-footer {
    width: 100wv;
    height: 247.65px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

#uj-container {
    width: 1100px;
    height: 147.65px;
}

.uj-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: wrap;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-menu {
    width: 949.84px;
    height: 65.62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.footerlogo {
    height: 20px;
}

.footer-links {}

.padding-top-50 {
    padding-top: 50px
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.text-12 {
    font-weight: 500;
    color: #000;
    font-size: 12px;
    list-style: 20px;
}

.uk-icon {
    margin: 0;
    padding: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    display: inline-block;
    background-color: transparent;
    fill: currentColor;
    line-height: 0;
}

/* main section */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-title {}

#main-sub-title {
    font-weight: 700;
    font-size: 26px;
    text-align: left;
}

#main-img {
    width: 543px;
    height: 385px;
    object-fit: cover;
    border-radius: 8px;
    transition: all 1s;
}

#main2 {
    height: 385px;
}

.black1 {
    background-color: black;
    position: absolute;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;

}

.hide-container1 {
    width: 543px;
    height: 385px;
    position: relative;
    overflow: hidden;
}

.hide-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    width: 100%;
    margin: 0;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.hide-container1:hover .hide-text {
    opacity: 1;
}

.hide-container1:hover .black1 {
    opacity: 0.4;
}

.hide-container1:hover #main-img {
    scale: 1.1;
}

#sub-main {
    height: 283px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.sub-main-img {
    width: 264px;
    height: 175px;
    border-radius: 8px;
    transition: all 1s;
}

.sub-main-pic {
    width: 278.75px;
    height: 283px;
}

.sub-main-logo {
    width: 13px;
    height: 13px;
}

.hide-container2 {
    width: 264px;
    height: 175px;
    position: relative;
    overflow: hidden;
}

.hide-container2:hover .hide-text {
    opacity: 1;
}

.hide-container2:hover .black1 {
    opacity: 0.4;
}

.hide-container2:hover .sub-main-img {
    scale: 1.1;
}

.main-last-img {
    width: 264px;
    height: 270px;
    border-radius:8px;
}